@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>
@if( !Model.Any() )
{
    <h2>No customers available</h2>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name,"Edit","Customer", new { id = customer.Id }, null) </td>
                    <td>@customer.MembershipType.MembershipTypeName</td>
                </tr>
            }
        </tbody>
    </table>
}
